body{
    background-image: url("/laptop-1.jpg");
    background-repeat: repeat-x;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    margin: 0;
    /* OPTIONAL */
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.clock-container{
    backdrop-filter: blur(5px);
    width: 100vw;
    padding: 10px 0;
}
.clock{
    color: white;
    font-size: 4.5rem;
    text-align: center;
    font-weight: 700;
    font-family: "Inconsolata", monospace;
    text-shadow: 3px 3px 5px hsla(0, 0%, 0%, 0.75);
}